

.bolum1 .col-md-3  {
    height: 250px;
    border: solid black;
    margin: 3px;
}
.bolum1 .col-md-5 {
    height: 250px;
    border: black;

    margin: 3px;
}

.bolum2 .col-md-3, .col-md-5 {
    height: 450px;
    
    border: solid black;
    margin: 3px;
}

.form .form-label {
    height: 5px;
    margin-top: 1px;

}

.row #Mc{
    height: 120px;
    border: solid  black;
    margin-bottom: 10px;
}
#customer-list{
    overflow-x: scroll;
    
}

